body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.main-header{
    position: relative;
}
.header{
     /* height: 60px;  */
    background: #388ff5;
}
.table-search{
    position: absolute;
    z-index: 99;
    background: white;
    left: 18%;
    width: 29%;
}
.table-search .table tbody tr td:hover{
    cursor: pointer;
    background: lightgray;
}
.header img{
    float: left;
    width: 15%;
    height: 60px;
    margin-left: 20px;
}
.header .search{
    margin-top: 12px;
}
.search input{
    padding-top: 1px;
    border: 0;
    /* position: relative; */
    background: #fff;
    height: 32px;
    width: 90%;
    /* text-indent: 10px; */
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.search .fa-search{
    font-size: 20px;
    color: gray;
    width: 18%;
}
.fa-search:hover{
    cursor: pointer;
}
.menu{
    float: left;
   padding: 15px;
}
.menu ul li{
    float: left;
    margin-left: 25px;
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 18px;
}
.menu ul li i{
    font-size: 15px;
    color: white;
}
.menu ul li:hover i, .menu ul li:hover a{
    cursor: pointer;
    opacity: 1;
    color: black;
}
/* .table-striped{
    display: none;
} */
.clear-float{
    clear: both;
}