<section>
    <div class="header">
        <img src="../../assets/logo1.jpg" alt="">
        <div class="search">
            <form class="form-inline active-cyan-4">
                <input class="form-control form-control-sm mr-3 w-75" (keyup)="onSearch(keyword.value)" #keyword type="text" placeholder="Bạn tìm gì..."
                    aria-label="Search">
                <i class="fas fa-search" aria-hidden="true" (click)="onSearch(keyword.value)"></i>
            </form>
        </div>
        <div class="menu col-lg-6 col-md-4 col-sm-2">
            <ul>
                <li>
                    <i class="fas fa-tv"></i>
                    <a href="">Tivi</a>
                </li>
                <li>
                        <i class="fas fa-suitcase"></i>
                    <a href="">Tủ lạnh</a>
                </li>
                <li>
                        <i class="fas fa-box"></i>
                    <a href="">Máy giặt</a>
                </li>
                <li>
                        <i class="fas fa-calculator"></i>
                    <a href="">Điều hòa</a>
                </li>
                <li>
                        <i class="fas fa-cart-plus"></i>
                    <a href="">Giỏ hàng</a>
                </li>
            </ul>
        </div>
        <div class="clear-float"></div>
    </div>
</section>