<section (click)="noneSearch()" class="container-fluid  main-header">
    <div class="header row">
        <img (click) = "onHome()"src="../../assets/logo1.jpg" alt="">
        <div class="search col-3">
            <input (click)="getData()" [(ngModel)]="textSearch" class="form-control " name="search" type="text" placeholder="Bạn tìm gì..."
                aria-label="Search">
        </div>
        <div class="menu col-lg-7 col-md-12 col-sm-12"> 
            <ul>
                <li>
                    <i class="fas fa-tv"></i>
                    <a href="">Tivi</a>
                </li>
                <li>
                    <i class="fas fa-suitcase"></i>
                    <a href="">Tủ lạnh</a>
                </li>
                <li>
                    <i class="fas fa-box"></i>
                    <a href="">Máy giặt</a>
                </li>
                <li>
                    <i class="fas fa-calculator"></i>
                    <a href="">Điều hòa</a>
                </li>
                <li >
                    <i class="fas fa-cart-plus"></i> 
                    <a (click) = "onShop()">Giỏ hàng()</a>
                </li>
            </ul>
        </div>
       
    </div>
    <div *ngIf="textSearch" class="row table-search">
        <table class="table ">
            <tbody>
                <tr *ngFor="let product of products  | filter:textSearch">
                    <td (click)="getValueProduct(product)">{{product?.ten}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear-float"></div>
</section>