<footer id="footer-content">
  <div class="container">
    <div class="footer-top row">
      <div class="footer-1 col-12 col-md-4">
        <ul>
          <li>
            <h4>Hệ Thống Điện Lạnh</h4>
          </li>
          <li>
            <a href="">Giới thiệu Điện Máy Xanh</a>
          </li>
          <li>
            <a href="">Xem địa chỉ các chi nhánh</a>
          </li>
          <li>
            <a href="">Trung tâm sửa chữa & bảo hành</a>
          </li>
          <li>
            <a href="">Danh sách trung tâm BH chính hãng</a>
          </li>
        </ul>
      </div>
      <div class="footer-2 col-12 col-md-4">
        <ul>
          <li>
            <h4>Hướng dẫn mua hàng</h4>
          </li>
          <li>
            <a href="">Hướng dẫn mua hàng online</a>
          </li>
          <li>
            <a href="">Vận chuyển - thanh toán</a>
          </li>
          <li>
            <a href="">Chính sách đổi trả / bảo hành</a>
          </li>
        </ul>
      </div>
      <div class="footer-3 col-12 col-md-4">
        <ul>
          <li>
            <h4>Kết nối cùng </h4>
          </li>
          <li>
            <a href="">
              <i class="fab fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-youtube"></i> N Channel</a>
          </li>
          <li>
            <a href="">
              <i class="fas fa-phone"></i> 1900 1001 (Hotline)</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2015 - 2019 ĐMX.com - All Rights Reserved</p>
      <p>Giấy phép kinh doanh / Mã số thuế: 0309538058 - Giấy phép thiết lập Trang thông tin điện tử tổng hợp ố 61/GP-ICP-STTTT
        do Sở thông tin và Truyền thông cấp ngày 01/08/2012</p>
    </div>
  </div>

</footer>