#footer-content{
    margin-top: 15px;
    background-color: white;
}

#footer-content .col-3{
    margin-top: 20px;
    padding: 0;
}

#footer-content .col-3 h4{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer-content .col-3 a{
    font-size: 12px;
    color: #919ba7;
}

#footer-content ul li{
    margin-top: 10px;
}

.footer-1 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-1 ul li a{
    text-decoration: none;
}

.footer-1 img{
    margin-top: 10px;
}

.footer-2 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-2 img{
    margin-top: 10px;
}

.footer-2 ul li a{
    text-decoration: none;
}

.footer-3 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-3 ul li a{
    text-decoration: none;
}

.footer-4 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-4 ul li a{
    text-decoration: none;
}

.footer-4 ul li input{
    background-color: white;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    height: 35px;
}

.footer-4 ul li button{
    background-color: #f05a24;
    color: white;
    border: 0;
    height: 35px;
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-bottom{
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
    border: 0;
    border-top: 1px;
    border-style: solid;
    border-color: lightgray;
}

.footer-bottom p{
    color: #919ba7;
    margin: 0;
    font-size: 12px;
}