<section class="container-fluid">
  <div class="content row">
    <div class="title col-lg-12">
      <h3>{{result.ten}}</h3>
      <hr style="margin-bottom: 10px;">
    </div>
    <div class="image col-lg-4 col-12">
      <img src="{{result.anh}}" alt="">
    </div>
    <div class="content-detail col-lg-4 col-12">
      <h3>{{result.ten}}</h3>
      <p>Giá bán:
        <span>{{result.giahientai}} ₫</span>
      </p>
      <img style="cursor:pointer" src="https://cdn.tgdd.vn/2019/07/banner/DESK@2x-470x110.jpg" alt="Sinh nhật 15 năm Điện máy XANH"
        width="100%" height="110">

      <div class="area-oder">
        <button class="btn-buy">
          <a href="">
            <p>MUA NGAY</p>
            <p class="buy_now_subtext">Giao tận nơi</p>
          </a>
        </button>
        <button class="btn-cart">
          <a href="">
            <p class="buy_now_subtext">
                <i class="fas fa-shopping-cart"></i> 
                Thêm vào giỏ hàng
            </p>
          </a>
        </button>

      </div>
      <hr style="margin-bottom: 0;">
      <div class="call">
        <p>Gọi đặt mua:
          <i class="fas fa-phone"></i>
          <a href="tel:18001061"> 1800.1061</a> (7:30 - 22:00)</p>
      </div>
    </div>
    <div class="policy col-lg-4 col-12">
        <div class="location">
           
            <p>  <i class="fas fa-map-marker-alt"></i>  <a href="">Đặt giữ hàng tại siêu thị</a> </p>
        </div>
      <div class="policy-content">
    
        <P class="title">MUA NHƯ VUA-CHĂM SÓC NHƯ VIP</P>
        <ul>
          <li>
            <p>
              <b>Miễn phí</b> công lắp đặt</p>
          </li>
          <li>
            <p> Lỗi là đổi mới trong
              <b>1 tháng</b> tận nhà.
            </p>
          </li>
          <li>
            <p>Đổi trả và bảo hành cực dễ
              <b>chỉ cần số điện thoại</b>
            </p>
          </li>
          <li>
            <p>Bảo hành
              <b>chính hãng thân máy 2 năm</b>, có người đến lấy tận nhà</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>